body {
    font-size: 13px;
    background: #e3e1ff;
    color: #444;
    margin: 0;
    padding: 0;
}
  .container {
    width: 90%;
    max-width: 960px;
    margin: 40px auto;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(28, 6, 49, 0.1);
    background: white;
  }
  .error {
    color: #ff3f80;
    font-size: 14px;
  }
  .text-center{
    text-align: center;
  }
  button {
    text-decoration: none;
    background: #305dd0;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
  }
  button:hover{
    background: #12399c;
  }
  .pointer{
    cursor: pointer;
  }
  .rgb-color{
    color: #12399c;
    font-weight: bold;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 3px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #12399c; 
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  #overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0,0.5);
    opacity: 0.9;
  }
  
  #overlay div {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
  }